-throw_content(:title, "Forums")
-throw_content(:right) do
  %h2 What is Forumtastic?
  %p It's only the most excellent forum software ever written...or it will be when its done
  -if session.authenticated? && session.user.admin?
    %h6 Admin
    %p=link_to "New Forum", slice_url(:forumtastic, :new_forum)
%h1 Forums
.subtitle
  ="#{pluralize(Forumtastic::Topic.count, 'topic')}, #{pluralize(Forumtastic::Post.count, 'post')}"
%table{ :border => "0", :cellspacing => "0", :cellpadding => "0"}
  %thead
    %tr
      %th{ :width => "70%", :colspan => "3" } Forum
      %th{ :width => "30%", :colspan => "1" } Last Post
  %tbody
    -@forums.each do |forum|
      %tr
        %td.activity{ :width => '1%' }=image_tag "clearbits/comment.gif", :class => "icon grey", :title => 'No recent activity'
        %td.info{ :colspan => (session.authenticated? && session.user.admin?) ? 1 : 2}
          =link_to forum.title, slice_url(:forumtastic, :forum, forum), :class => "title"
          .count
            ="#{pluralize(forum.topics.count, 'topic')}, #{pluralize(forum.topics.posts.count, 'post')}"
          .description=forum.description_html
        -if session.authenticated? && session.user.admin?
          %td.edit{ :width => '1%' }=link_to "Edit", slice_url(:forumtastic, :edit_forum, forum)
        %td.latest
          =forum.latest_post.created_at.strftime('%b %d, %H:%M %P')
          %br
          ="by <strong>#{link_to(forum.latest_post.user.name,slice_url(:forumtastic, :user, forum.latest_post.user))}</strong>"
          ="(#{link_to('view', "#{slice_url(:forumtastic, :forum_topic, forum, forum.latest_topic,:fragment => "forumtastic_post_#{forum.latest_post.id}")}")})"